###############################################################################
# Node.js
###############################################################################

# Dependency directories
node_modules/
jspm_packages/

# npm cache
.npm


###############################################################################
# Unity
###############################################################################

App/
UWP/

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
Assets/AssetStoreTools*
UserSettings

# Visual Studio cache directory
.vs/

*.csproj
*.sln
.vsconfig
*.idea/


###############################################################################
# Xcode
###############################################################################

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


###############################################################################
# Python
###############################################################################

__pycache__
*.vcxproj.filters
*.vcxproj.user


###############################################################################
# macOS
###############################################################################

.DS_Store


###############################################################################
# Stable Diffusion
###############################################################################

*.ckpt
*.pt


###############################################################################
# Output Images
###############################################################################

output/*.png
output/*.jpg


###############################################################################
# Misc.
###############################################################################

/*.png
/*.jpg
/*.txt
/*.bat

*.swp
*.swo
